:root {
    --background-color: #ebe5f4;
    --btn-color: #3387d1;
    --btn-text-color: #fff;
    --project-card-bg: #ffffff00;
    --text-color: #222;
    --form-text-color: #555;
    --footer-text-color: #888;
}

[data-theme='dark'] {
    --background-color: #2a1d29;
    --btn-color: #fff;
    --btn-text-color: #222;
    --project-card-bg: #fff;
    --text-color: #fff;
    --form-text-color: #fff;
    --footer-text-color: #bbb;
}

body {
   background-color: var(--background-color);
   display: flex;
   justify-content: center;
   margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

h1, 
h2,
h3, 
p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2,h3,p {
    font-family: "Gentium Plus", serif; 
}

h2{
    text-transform: lowercase;
}

h2, 
h3{
    font-size: 25px;
}

h1{
    text-transform: uppercase;
    font-family: "Newsreader", serif;
    font-weight: 700;
    font-size: 40px;
}

p{
    font-size: 20px;
    font-weight: 300;
}

.sectionTitle {
    margin-bottom: 30px;
}

.hover {
    cursor: pointer;
}

@media (width >= 800px) {
    #root {
        gap: 100px;
    }
    h1{
        font-size: 40px;
    }
    h2, h3{
        font-size: 24px;
    }
    p{
        font-size: 20px;
    }
    .sectionTitle{
        margin-bottom: 60px;
    }
}

@media (width >= 1400px) {
    #root {
        gap: 200px;
    }
    h1{
        font-size: 48px;
    }
    .sectionTitle{
        margin-bottom: 75px;
    }
}